<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../resource/css/styles1.css" type="text/css" rel="stylesheet" />
    <style>
        p{
            color: chartreuse;
        }
        p.aaa{
            color: turquoise;
        }
    </style>
</head>
<body>

<span>
    <p style="color: blue;">看看是哪个颜色</p> 
</span>
<p style="color: blue;">看看是哪个颜色</p>

<p>yfcu<span style="color: darkmagenta;">hjvg</span></p>

<p class="aaa">hcj</p>

<h1 class="aaa">jhbhk</h1>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>
<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>
<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>

<p>背景是固定的</p>
</body>
</html>