<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>行内样式</title>
</head>
<body>

<!--第一种嵌入方式，行内样式，在标签内用style属性来实现-->

<p style="background-color: #999900">行内元素，控制段落-1</p>
<h2 style="background-color: #FF6633">行内元素，h2 标题元素</h2>
<p style="background-color: #999900">行内元素，控制段落-2</p>
<strong style="font-size:30px;">行内元素，strong 比 em 效果要强</strong>

<!--多个CSS属性用分号隔开就行，第一个控制背景颜色，第二个控制字的颜色-->
<div style="background-color:#66CC99; color:#993300; height:30px; line-height:30px;">行内元素，div 块级元素</div>

<em style="font-size:2em;">行内元素，em 强调</em>
</body>
</html>