<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>菜鸟教程(runoob.com)</title> 
</head>
<body>

<form action="">
First name: <input type="text" name="firstname"><br>
Last name: <input type="text" name="lastname"><br/>
password:&nbsp;&nbsp; <input type="password" name="password">
</form>

<p><b>注意：</b> 表单本身是不可见的。并且注意一个文本字段的默认宽度是20个字符。</p>

<form>
    <input type="radio" name="sex" value="male">Male<br>
    <input type="radio" name="sex" value="female">Female
</form>

<div>
    <br>
</div>

<form name="input" action="" method="dialog">
    <input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
    <input type="checkbox" name="vehicle" value="Car">I have a car <br>
    <input type="submit" value="提交" style="color: aquamarine;" >
</form>
<br>
<br>

<!-- 下拉框 -->

<form>
    <select name="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="fiat">Fiat</option>
    <option value="audi">Audi</option>
    </select>
</form>



<br>
<br>
<textarea rows="10" cols="30">
    我是文本框
</textarea>
<br>
<br>
<form action="">
    <input type="button" value="我是按钮">
</form>
<br>
<br>

<form action="">
    <fieldset>
    <legend>Personal information:</legend>
    Name: <input type="text" size="30"><br>
    E-mail: <input type="text" size="30"><br>
    Date of birth: <input type="text" size="10">
    </fieldset>
</form>

</body>
</html>