h3{
    font-weight: normal;  /*取消标题默认加粗效果*/
    background-color: #66CC99;  /* 设置背景色 */
    height: 50px;  /*设置标签的高度*/
    line-height:50px;  /* 设置标签的行高 */
}
span{
    color: #FF6633;  /* 字体颜色 */
    font-weight:bold;  /* 字体加粗 */
}
body{
    background-image: url(../images/12.jpg);
    background-repeat: repeat-x;
    background-position:top;
    background-attachment: fixed;
    
}