<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
<h1>, <p>, <ul>, <table>
这些是区块元素，会以新行开始和新行结束
-->
<!--
<b>, <td>, <a>, <img>
这些是內联元素，不会以新行开始
-->
<div id="container" style="width:500px">

<!--定义头部-->
    <div id="header" style="background-color:#FFA500;">
        <h1 style="margin-bottom:0;">主要的网页标题</h1>
    </div>
<!--定义菜单-->
    <div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
        <b>菜单</b><br>
        HTML<br>
        CSS<br>
        JavaScript
    </div>
<!--定义内容-->
    <div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">
        内容在这里</div>
<!--定义底部-->
    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
        版权 © runoob.com</div>

</div>
</body>
</html>